.idea/
.venv/
__pycache__/
*.pyc
.DS_Store
env/
.vscode/
*.log

# ignore everything in the models directory
/models/**

# but keep markdown files (root and any subdirectory)
!/models/*.md
!/models/**/*.md

# un-ignore directories so Git can traverse into subdirs
!/models/
!/models/**/