services:
  common:
    build: ./common
    image: workers-common # Build to a named image for reuse

  tts:
    build: ./tts
    depends_on:
      - common
    #restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      CORE_URL: "http://host.docker.internal:5264"
      WORKER_ENDPOINT: "http://localhost:8000"
      PORT: 8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 10

  stt:
    build: ./stt
    depends_on:
      - common
    #restart: unless-stopped
    ports:
      - "8001:8001"
    environment:
      CORE_URL: "http://host.docker.internal:5264"
      WORKER_ENDPOINT: "http://localhost:8001"
      PORT: 8001
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8001/health" ]
      interval: 30s
      timeout: 10s
      retries: 10

  router:
    build: ./router
    depends_on:
      - common
    #restart: unless-stopped
    ports:
      - "8002:8002"
    environment:
      CORE_URL: "http://host.docker.internal:5264"
      WORKER_ENDPOINT: "http://localhost:8002"
      PORT: 8002
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8002/health" ]
      interval: 30s
      timeout: 10s
      retries: 10

  llm:
    build: ./llm
    depends_on:
      - common
    #restart: unless-stopped
    ports:
      - "8003:8003"
    environment:
      CORE_URL: "http://host.docker.internal:5264"
      WORKER_ENDPOINT: "http://localhost:8003"
      PORT: 8003
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8002/health" ]
      interval: 30s
      timeout: 10s
      retries: 10